<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gooding</title>
</head>
<body>
    <div style="width:440px; margin:30px auto; padding:40px 0 60px; background-color:#fff; border:1px solid #ddd; text-align:center; font-size:16px; font-family:malgun gothic,serif;">
        <p style="text-align:center; font-size:13px; color:#000; line-height:1.6; margin-top:40px; margin-bottom:0;">
            성공적으로 로그인되었습니다.<br>
            Gooding 서비스를 이용해 주셔서 감사합니다.<br>
        </p>
    </div>
</body>
</html>